.define-grid-breakpoints-if-not-defined {
	@container-width:			1100px;
	@tablet-width: 				900px;
	@tablet-small-width:        716px;
	@big-phone-width:			650px;
	@phone-width:               550px;
	@iphone-4-landscape-width:	480px;
	@iphone-4-width: 			320px;
}
.define-grid-breakpoints-if-not-defined();

#ei-grid-1 {
	.grid-clear-inner {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.grid-func-tdef(@spanwidth, @gutterwidth: 15px) {
		margin-left: 1%;
		margin-right: 1%;
		float: left;
		box-sizing: border-box;
		@width: (( (100 * ( @spanwidth / 12)) - 2));
		width: @width * 1%;

		margin-left: ~"calc(@{gutterwidth})";
		margin-right: ~"calc(@{gutterwidth})";
		@width-percentage: ( (100 * ( @spanwidth / 12)) * 1%);
		@double-gutter: @gutterwidth * 2;
		width: ~"calc( @{width-percentage} - @{double-gutter})";
	}

	.grid {
		.gutter-grid(15px);
	}
	.gutterless-grid {
		.gutter-grid(0px);
	}

	.gutter-grid(@gutterwidth) {
		overflow: hidden;
		
		.tablet(@rules) {
			@media(min-width: @tablet-width) {
				@rules();
			}
		}
		
		.container(@rules) {
			@media(min-width: @container-width) {
				@rules();
			}
		}
		
		.row {
			.grid-clear-inner;
			
			margin-left: -1%;
			margin-right: -1%;
			margin-left: ~"calc(-@{gutterwidth})";
			margin-right: ~"calc(-@{gutterwidth})";
			
			.xs1 {
				.grid-func-tdef(1, @gutterwidth);
			}
			.xs2 {
				.grid-func-tdef(2, @gutterwidth);
			}
			.xs3 {
				.grid-func-tdef(3, @gutterwidth);
			}
			.xs4 {
				.grid-func-tdef(4, @gutterwidth);
			}
			.xs5 {
				.grid-func-tdef(5, @gutterwidth);
			}
			.xs6 {
				.grid-func-tdef(6, @gutterwidth);
			}
			.xs7 {
				.grid-func-tdef(7, @gutterwidth);
			}
			.xs8 {
				.grid-func-tdef(8, @gutterwidth);
			}
			.xs9 {
				.grid-func-tdef(9, @gutterwidth);
			}
			.xs10 {
				.grid-func-tdef(10, @gutterwidth);
			}
			.xs11 {
				.grid-func-tdef(11, @gutterwidth);
			}
			.xs12 {
				.grid-func-tdef(12, @gutterwidth);
			}
			
			.tablet({
				.t1 {
					.grid-func-tdef(1, @gutterwidth);
				}
				.t1p5 {
					.grid-func-tdef(1.5, @gutterwidth);
				}
				.t2 {
					.grid-func-tdef(2, @gutterwidth);
				}
				.t3 {
					.grid-func-tdef(3, @gutterwidth);
				}
				.t4 {
					.grid-func-tdef(4, @gutterwidth);
				}
				.t5 {
					.grid-func-tdef(5, @gutterwidth);
				}
				.t6 {
					.grid-func-tdef(6, @gutterwidth);
				}
				.t7 {
					.grid-func-tdef(7, @gutterwidth);
				}
				.t8 {
					.grid-func-tdef(8, @gutterwidth);
				}
				.t9 {
					.grid-func-tdef(9, @gutterwidth);
				}
				.t10 {
					.grid-func-tdef(10, @gutterwidth);
				}
				.t10p5 {
					.grid-func-tdef(10.5, @gutterwidth);
				}
				.t11 {
					.grid-func-tdef(11, @gutterwidth);
				}
				.t12 {
					.grid-func-tdef(12, @gutterwidth);
				}
			});
			.container({
				.c1 {
					.grid-func-tdef(1, @gutterwidth);
				}
				.c2 {
					.grid-func-tdef(2, @gutterwidth);
				}
				.c3 {
					.grid-func-tdef(3, @gutterwidth);
				}
				.c4 {
					.grid-func-tdef(4, @gutterwidth);
				}
				.c5 {
					.grid-func-tdef(5, @gutterwidth);
				}
				.c6 {
					.grid-func-tdef(6, @gutterwidth);
				}
				.c7 {
					.grid-func-tdef(7, @gutterwidth);
				}
				.c8 {
					.grid-func-tdef(8, @gutterwidth);
				}
				.c9 {
					.grid-func-tdef(9, @gutterwidth);
				}
				.c10 {
					.grid-func-tdef(10, @gutterwidth);
				}
				.c11 {
					.grid-func-tdef(11, @gutterwidth);
				}
				.c12 {
					.grid-func-tdef(12, @gutterwidth);
				}
			});
		}
	}
}